{% extends 'profiles/base.html' %}
{% load static %}
{% block content %}
<center>
<div class="col-lg-8">
    <form method="POST">
        {% csrf_token %}
            <h3>Are you sure you want to cancel this booking</h3>
            <h4>{{booking}}</h4>
            <button type="submit"class="btnbook">Yes,Sure</button>
            <a href="{% url 'profiles:BookingListView'%}"class="btnback">No</a>
        </div>
        </center>
    </form>

</div>
<br><br><br><br><br><br><br><br>
  {% endblock content %}
                  