  <!-- ======= Footer ======= -->
  <footer id="footer">

    <!-- ======= subscribe ======= -->

   <div class="footer-top">
     <div class="container">
       <div class="row">

         <div class="col-lg-3 col-md-6 footer-contact" data-aos="fade-up" data-aos-delay="100">
          <h3>Remarkable</h3><br>
          
          <div class="info">
            <div class="address">
              <i class="icofont-google-map"></i>
              <br> <br>
              <p>KG 609 St</p>
            </div>
            <br>

            <div class="email">
              <i class="icofont-envelope"></i>
              <br> <br>
              <p>remarkable2507@gmail.com</p>
            </div>

            <br>

            <div class="phone">
              <i class="icofont-phone"></i>
            <br> <br>
            <p>+250 788354979</p>
            </div>
      
          </div>
        </div>

         <div class="col-lg-3 col-md-6 footer-links" data-aos="fade-up" data-aos-delay="200">
           <h4>Some useful Terms</h4>
           <ul>
             <li><i class="icofont-simple-up"></i>Home</li>
             <li><i class="icofont-simple-up"></i>About us</li>
             <li><i class="icofont-simple-up"></i>Services</li>
             <li><i class="icofont-simple-up"></i>How it Works</li>
             <li><a href="{% url 'profiles:how-it-works' %}"><i class="icofont-simple-up"></i>Guidance</a></li>
             <li><a href="{% url 'profiles:terms-conditions' %}"><i class="icofont-simple-up"></i>Terms and Conditions</a></li>
           </ul>
         </div>

         <div class="col-lg-3 col-md-6 footer-links" data-aos="fade-up" data-aos-delay="300">
           <h4>Our Services</h4>
           <ul>
             <li><i class="icofont-simple-up"></i>Booking</li>
             <li><i class="icofont-simple-up"></i>Advices</li>
             <li><i class="icofont-simple-up"></i>Assistance</li>
           </ul>
         </div>

         <div class="col-lg-3 col-md-6 footer-links" data-aos="fade-up" data-aos-delay="400">
           <h4>Our Social Networks</h4>
           <p>For more updates follow us on our social networks like twitter,facebbok,instagram and more videos on our youtube Channel.</p>
           <div class="social-links mt-3">
             <a href=""><i class="icofont-twitter"></i></a>
             <a href=""><i class="icofont-facebook"></i></a>
             <a href=""><i class="icofont-instagram"></i></a>
             <a href=""><i class="icofont-youtube"></i></a>
           </div>
         </div>

       </div>
     </div>
   </div>

   <div class="container py-4 copyrightdiv">
    <div class="copyright">
        &copy; <strong><span>Remarkable</span></strong>. All Rights Reserved Designed by <a href="#"> VX</a>
      </div>
     <!-- <div class="credits"></div>
       Designed by <a href="#"> XO</a>
     </div> -->
   </div>
 </footer><!-- End Footer -->