{% extends 'profiles/base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
Message Sent
{% endblock title %}

{% block content %}
<style type="text/css">
    .card{
        min-height: 100vh;
        height: 100%;
        width: 100%;
    }

    .errorlist{
        color: red;
    }

    @media screen and (max-width: 768px) {
        .card{
          
            width: 95%;
            margin: auto;
        }
      }
      
    </style>

<div class="container">
    <div class="row mt-4">
    <div class="card">
  
    <div class="card-body ml-md-2 p-sm-2 p-0 mt-3">
    <div class="d-flex justify-content-center">
    
        <div class="changepassword-form">  
            <div class="alert alert-info">
                <h4>Dear {{user}} your message has been sent successfully</h4>
                <a href="{% url 'profiles:index-view'%}" class="mainbtn">Back</a>
            </div>
      
    </div>

    </div>
    </div>
    </div>
    </div>
    </div>
    <br> <br> 

{% endblock content %}






