{% extends 'profiles/base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
Terms and Conditions
{% endblock title %}

{% block content %}
<style type="text/css">
    .container h3{
        color: #3abdd1;
    }     
    </style>

<div class="container">
    <!-- <div class="card"> -->
<h3>Terms and Conditions</h3>
    <p>    
Please find below the latest “Remarkable platform” Terms and Conditions (Terms)

Please read carefully these terms, Accessing to, and use of Remarkable platform Services and Remarkable as a Website https:/ Remarkable.rw, including any of its Content is Conditional on your Agreement to these terms, you must read, Agree with, and accept all the terms and conditions Contained in these terms by Creating an Account, by using or by Visiting our platform you are bound to these terms and you indicate your Acceptance of these terms.
<h3>What you have to know about your “Remarkable Platform” Account</h3>

If you create an Account on our Website your are Responsible for maintaining the Security of your Account and you are fully responsible for all Activities that done under your account and any other activities taken in connection with your account 
You Agree to provide and maintain accurate, current and complete information including your Contacts information for Notices and other Communications from us such as to know your payment model information, you may not use false or Misleading information in connection to your Account when it comes the communication from us, Remarkable platform may change or remove any information that
Its Considers inappropriate or unlawful or otherwise likely to expose our Platform to claims of third parties, you agree that we may take steps to verify the Accuracy of information you have provided to us. You are responsible for taking reasonable steps to maintain the Confidentiality and the Security of your password.
You must immediately notify to us of any unauthorized uses of your Account information or any other breaches, Remarkable platform will not be responsible for any Acts or omissions by you including any damages of any kind like “you have got married and you join our platform looking for someone else which is unlawful” we will not be responsible of incurred as a result of such acts or omissions.
<h3>Copyright</h3>
Remarkable Platform is a Business Model including its all Services, are protected by Copyright and Trademark law, it is unlawful for anyone to Create or to Copy this Business model without an authorized Authorization or a Partnership with us to expand our Business and Services everywhere to everyone it may be Designed for
 You are not allowed to borrow this idea or this Business model, if Remarkable platform team reasonable Suspect you of any kind of copying or borrowing ideas from this Business model by using another name without our permission or partnership we will take reasonable steps to consider the trademark law or to find out what the law says about this.

    </p>

    <!-- </div> -->
    </div>
    <br> <br> 

{% endblock content %}





